
body{
    background-color: black;
    color:antiquewhite
}
.row1{
    height: 85vh;
}
.headshot{
    background: url("./Assets/headshot.JPG");
    background-position: 50% 25%;
    height: 100%;
}
.right{
    float:right
}
.navbar{
    color:antiquewhite
}